.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 425px) {

}
